body{
	//background-color: white;
	//color:dark-grey;
	height: 100%;
	    display: flex;
	    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, a, span, div, article,textarea, td {
	font-family: "EB Garamond", Garamond, "Times New Roman", serif;
	c
}

a{
	color:var(--font-color) ;//purple
}


h1{font-size:36px}
h2{font-size:28px}
h3{font-size:20px}
h4{font-size:16px}
h5{font-size:14px}
button{
	width:unset;
}
article,textarea{
 margin:10px;
 padding:10px !important;
 overflow:auto; 
 font-size:14px;
 color:var(--color);
 background-color:var(--background-color); 
 border:thin solid white;
 
}




nav{
 	margin:0px;
 	font-size:10px !important;
 	position: relative;
		top: 0;
	border-bottom:1px solid lightgrey;
	width:100%;
	justify-content:unset !important;
	display:flex;

}
nav li{
	padding:0px;
}
nav button{
	padding:0px;
	line-height:12px;
}
nav ul{
	margin-left:10px !important;
	margin-right:10px !important;
}
nav a{
	//color:grey
}
footer span{
	font-size:12px;
}
ul[role=listbox]{
	font-size:12px !important;
}
.CodeMirror {
	font-family: Arial, monospace !important; 
	font-size: 14px !important; 
	border: 1px solid #d0d7de;
	border-radius: 6px;
	margin:10px;
	height: auto !important;
	min-height:50px !important;
	max-height:300px !important;
	padding:0px !important;

}

.CodeMirror-scroll{
	max-height:300px;
}

.CodeMirror-cursor {
  border-left: 1px solid white;
  border-right: 1px solid black;
}

.cm-editor { height: 100% }
.cm-scroller { overflow: auto }

.CodeMirror-sizer{
	border-right:unset !important;
}
.error{
	color:red;
}

.status{
	width:29px;
	float:left;
	margin:0px;
	font-size:12px;
	display:inline;
}
.output{
	float:left;
	margin-left:10px;
	margin-right:10px;
	display:inline;
	flex-grow:1;
}

.cell-menu{
	float:right;
	margin-bottom:-15px;
	height:15px;
	line-height:15px;
	font-size:15px;
	z-index:100;
	position:relative;
	top:5px;
	right:0px;
	margin-right:15px;
	//color:darkgray ;
	
}



.cell-menu a{

	color: var(--font-color);
	margin:10px;
	font-size:20px;
}




#nb_name{
	margin-left:5px ;	
	margin-right:5px ;
}

#logo{
	height:35px;
	margin:0px;
}
input{
	font-size:12px;
	padding:5px !important;
	line-height:20px;
}

.file-delete{
	color:red;
}

@media (max-width: 600px) {
  .cell-menu {
    margin: 5px;
    float: unset;
    position: unset;
    top: unset;
    right: unset;
    height:unset;
    display:flex;
    border-top:thin solid black;
    
    }
    .cell-menu a{

	//color:unset;
	margin:10px;
	font-size:24px;
	
	}
    .cell-menu span{
	
	margin:10px;
	font-size:16px;
	
	}

    .container{
    	padding:3px;
    }
    
    .CodeMirror,article,textarea{
    	margin:5px;
    	padding:5px;
    }
    
    details[role=list] summary::after {
    	display:none
    }
    
}

nav details[role=list] summary{
	padding-top:2px !important;
	padding-bottom:2px !important;
	border:none !important;
	font-size:14px !important;
	line-height:33px !important;
}
nav details[role=list]{

	border:none !important;
}

details[role=list] summary::after{
	height:33px;
	line-height:33px;
	font-size:10px;
}

nav [role=button]{
	padding-top:2px !important;
	padding-bottom:2px !important;
}

h1, h2, h3, h4, h5, h6, p, a, li, ul,ol {
	--typography-spacing-vertical:0px !important;
}




.cell-type{
    color:var(--font-color) !important;
    height: 32px !important;
    width: 50px !important;
    padding: 0px !important; 
    margin: 0px !important;
    text-align: center !important;
    margin-top: -10px !important;
    border: none !important;
    font-weight: 600 !important;
    background-image: unset !important;
    background-color: unset !important;
}

#github_link{
	color: var(--secondary);
	background-color: var(--primary);
	padding-top:0px;
	padding-bottom:0px;
	float:right;
	margin:0px;
}

#break-sandbox{
	background-color:var(--primary);
	color:#9e2887;
    	padding-top:0px;
	padding-bottom:0px;
	float:right;
	margin:0px;
	#padding-left:15px;
	#padding-right:15px;
	margin-right:5px;
}



/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the thumb */
}

/* For Firefox */
::-moz-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

::-moz-scrollbar-thumb {
  background-color: #888; /* Set the color of the thumb */
}

pre{
 padding:10px;
}

/* Yellow Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"]{
  --primary: #ffc408;
  --primary-hover: #fbc02d;
  --primary-focus: rgba(254, 222, 0,0.125);
  --primary-inverse: rgba(0, 0, 0, 0.75);
  --font-color:#c589b9;
  
  
}


:root:not([data-theme="light"]){
  --primary: #ffc408;
  --primary-hover: #fbc02d;
  --primary-focus: rgba(254, 222, 0,0.125);
  --primary-inverse: rgba(0, 0, 0, 0.75);
  --font-color:#c589b9;
}

/* Yellow Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
/* Keeping it same as light mode for now.. will change later */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
  --primary: #ffc408;
  --primary-hover: #fbc02d;
  --primary-focus: rgba(254, 222, 0,0.125);
  --primary-inverse: rgba(0, 0, 0, 0.75);
  --font-color:#945488
  }
}

@media only screen and (prefers-color-scheme: light) {
  :root:not([data-theme="dark"]) {
  --primary: #ffc408;
  --primary-hover: #fbc02d;
  --primary-focus: rgba(254, 222, 0,0.125);
  --primary-inverse: rgba(0, 0, 0, 0.75);
  --font-color:#945488;
  }
}

/* Yellow Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
/* Keeping it same as light mode for now.. will change later */

/*[data-theme="dark"] {
  --primary: #fdd835;
  --primary-hover: #ffeb3b;
  --primary-focus: rgba(254, 222, 0,1);
  --primary-inverse: rgba(0, 0, 0, 0.75);
}*/

/* Yellow (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}