<header id="page-header" class="header sticky-header">
	<div class="top-header">
		<div class="logo-wrapper">
			<img src='images/logo2.png' id="logo1" alt="Scribbler Logo"/>
		</div>
		<div class="navigation-wrapper">
			<nav class="main-navigation">
				<ul>
				<li >
					<details role="list" dir="ltr">
					<summary tabindex="0" aria-haspopup="listbox">File</summary>
					<ul role="listbox">
					<li><a href="./#" target="_blank">New Blank NB</a></li>
					<li><a data-target="fileNamesModal" onClick="toggleModal(event);openFileNamesModal()" >Open Local File (Ctrl-O)</a></li>
					<li><a onclick="saveLocalFile()">Save Locally (Ctrl-S)</a><hr></li>
					<li><a onclick="loadFileClick()">Upload NB</a></li>
					<li><a onclick="loadFileClick('md')">Upload Markdown</a></li>
					<li><a onclick="loadFileClick('js')">Upload JS Script</a></li>

					<li><a onclick="download_nb()">Download NB</a><hr></li>
					<li><a data-target="git-import-export" onClick="toggleModal(event)">GitHub (Gtr-G)</a></li>
					<li><a href="#"  onclick="event.preventDefault();shareBtn()">Publish the Notebook</a><hr></li>
					<li><a onclick="download_html('nb')">Download as HTML (NB-view)</a></li>
					<li><a onclick="download_html('output')">Download as HTML (Only output)</a></li>
					<li><a onclick="download_html('html+js')">Download as HTML (HTML+JS)</a></li>
					<li><a onclick="download_js()">Download as JS</a><hr></li>
					
					</ul>
					</details>
				</li>
				<li role="list" dir="ltr">
					<details role="list" dir="ltr">
					<summary tabindex="0" aria-haspopup="listbox">Edit</summary>
					<ul role="listbox">
					
					<li><a onclick="insert_cell('code')">Insert code cell</a></li>
					<li><a onclick="insert_cell('html')">Insert doc cell</a></li>
					<li><a onclick="insert_cell('style')">Insert style cell</a><hr></li>
					<li><a data-target="options" onClick="toggleModal(event)">Options</li>
					<li><a onclick="event.preventDefault();break_sandbox()" >Trust the NB</a></li>
					<li><a href="./secrets.html" target="_blank">Secrets</a></li>
					
					</ul>
					</details>
				</li>
				<li role="list" dir="ltr">
					<details role="list" dir="ltr">
					<summary tabindex="0" aria-haspopup="listbox">AI</summary>
					
					<ul role="listbox" id="AI-Models">
					
					</ul>
					
					</details>
				</li>

				<li role="list" dir="ltr">
					<details role="list" dir="ltr">
					<summary tabindex="0" aria-haspopup="listbox">Run</summary>
					<ul role="listbox">
					<li><a onclick="run_all()">Run all</a></li>

					</ul>
					</details>
				</li>

				<li role="list" dir="ltr">
				<details role="list" dir="ltr">
					<summary tabindex="0" aria-haspopup="listbox">Help</summary>
					<ul role="listbox">
						<li><a href="https://join.scribbler.live" target="_blank" >Discord</a> </li>
						<li><a href='https://scribbler.live/docs' target='_blank'>Docs</a></li>
						<li><a href="https://scribbler.live/samples.html" target='_blank'>Gallery</a></li>
						<li><a href="https://scribbler.live/tutorials/" target='_blank'>Tutorials</a></li>
						
						<li>
						<a href="https://github.com/gopi-suvanam/jsnb/" target="_blank" >Source</a> 
						</li>
					</ul>
					</details>
				</li>

				<!--<li>
					<summary tabindex="0" aria-haspopup="listbox" style="font-size:14px;" role="button" onclick="event.preventDefault();shareBtn()">
				Publish</summary>
				</li>-->
				<li style="margin-left:4px;">
					<summary tabindex="0" aria-haspopup="listbox" style="font-size:14px;" role="button" >
					<a class="header-button" href="https://hub.scribbler.live">Hub</a></summary>
				</li>
				<li>
					<summary tabindex="0" aria-haspopup="listbox" style="margin-left:5px" >
					<a title="Github Source Code" href="https://github.com/gopi-suvanam/scribbler" target="_blank">
					<img src="images/github-mark.png" style="width:25px" class="light-img"/>
					<img src="images/github-mark-white.png" style="width:25px" class="dark-img"/>
					</a></summary>
				</li>
				<li>
					<summary tabindex="0" aria-haspopup="listbox" style="margin-left:5px" >
					<a title="Discord Channel" href="https://join.scribbler.live" target="_blank">
					<img src="images/discord-mark.png" style="width:25px"  class="light-img"/>
					<img src="images/discord-mark-white.png" style="width:25px" class="dark-img"/>
					</a></summary>
				</li>
				
				</ul>
			</nav>
		</div>
		<div id="welcome" class="info-wrapper">
			<p class="secondary" style="display:inline;float:right;margin-right:5px"  id='username'></p>
			<p style="display:inline;float:right" class="secondary">Welcome&nbsp;</p>
		</div>
	</div>
	<html-component data="components/sub-header.html"></html-component>
</header>
