<header id="page-header" class="header sticky-header">
	<div class="top-header">
		<div class="logo-wrapper">
			<img src='images/logo2.png' id="logo1" alt="Scribbler Logo"/>
		</div>
		<!-- Hamburger Button -->
        <button class="hamburger" id="hamburger" aria-label="Toggle navigation" style="position: relative; z-index: 1000;">
            <span></span>
            <span></span>
            <span></span>
        </button>
		<div class="navigation-wrapper" id="nav-menu">
			<nav class="main-navigation">
				<ul>
				<li >
					<details role="list" dir="ltr">
					<summary tabindex="0" aria-haspopup="listbox">File</summary>
					<ul role="listbox">
					<li><a href="./#" target="_blank">New Blank NB</a></li>
					<li><a data-target="fileNamesModal" onClick="toggleModal(event);openFileNamesModal()" >Open Local File (Ctrl-O)</a></li>
					<li><a onclick="saveLocalFile()">Save Locally (Ctrl-S)</a><hr></li>
					<li><a onclick="loadFileClick()">Upload NB</a></li>
					<li><a onclick="loadFileClick('md')">Upload Markdown</a></li>
					<li><a onclick="loadFileClick('js')">Upload JS Script</a></li>

					<li><a onclick="download_nb()">Download NB</a><hr></li>
					<li><a data-target="git-import-export" onClick="toggleModal(event)">GitHub (Gtr-G)</a></li>
					<li><a href="#"  onclick="event.preventDefault();shareBtn()">Publish the Notebook</a><hr></li>
					<li><a onclick="download_html('nb')">Download as HTML (NB-view)</a></li>
					<li><a onclick="download_html('output')">Download as HTML (Only output)</a></li>
					<li><a onclick="download_html('html+js')">Download as HTML (HTML+JS)</a></li>
					<li><a onclick="download_js()">Download as JS</a><hr></li>
					
					</ul>
					</details>
				</li>
				<li role="list" dir="ltr">
					<details role="list" dir="ltr">
					<summary tabindex="0" aria-haspopup="listbox">Edit</summary>
					<ul role="listbox">
					
					<li><a onclick="insert_cell('code')">Insert code cell</a></li>
					<li><a onclick="insert_cell('html')">Insert doc cell</a></li>
					<li><a onclick="insert_cell('style')">Insert style cell</a><hr></li>
					<li><a data-target="options" onClick="toggleModal(event)">Options</li>
					<li><a onclick="event.preventDefault();break_sandbox()" >Trust the NB</a></li>
					<li><a href="./secrets.html" target="_blank">Secrets</a></li>
					
					</ul>
					</details>
				</li>
				<li role="list" dir="ltr">
					<details role="list" dir="ltr">
					<summary tabindex="0" aria-haspopup="listbox">AI</summary>
					
					<ul role="listbox" id="AI-Models">
					
					</ul>
					
					</details>
				</li>

				<li role="list" dir="ltr">
					<details role="list" dir="ltr">
					<summary tabindex="0" aria-haspopup="listbox">Run</summary>
					<ul role="listbox">
					<li><a onclick="run_all()">Run all</a></li>

					</ul>
					</details>
				</li>
				
				<li role="list" dir="ltr">
				  <details role="list" dir="ltr">
					<summary tabindex="0" aria-haspopup="listbox">Templates</summary>
					<ul role="listbox">

					  <li><b>Introductory</b></li>
					  <li><a href="https://app.scribbler.live/#./examples/Alternating-Sequence.jsnb" target="_blank">Loops and Plots</a></li>
					  <li><a href="https://app.scribbler.live/#./examples/Array-Functions.jsnb" target="_blank">Arrays in JavaScript</a></li>
					  
					  <li><b>Board Games</b></li>
					  <li><a href="https://app.scribbler.live/?jsnb=https://examples.scribbler.live/Advanced%20JavaScript/Chessboard.jsnb" target="_blank">Chessboard from Scratch</a></li>
					  <li><a href="https://scribblerlive.gumroad.com/l/mqewcn" target="_blank" title="Premium notebook">AI for Chess (Min-Max Algorithm) 💎</a></li>		

					  <li><b>Plotting</b></li>
					  <li><a href="https://app.scribbler.live/#./examples/Plotly-Example.jsnb" target="_blank">Plotly Example</a></li>
					  <li><a href="https://app.scribbler.live/#./examples/Crypto-Currency-TimeSeries.jsnb" target="_blank">Crypto Price Plots</a></li>
					  <li><a href="https://app.scribbler.live/#./examples/Fluid-Dynamics(CFD).jsnb" target="_blank">Computational Fluid Dynamics</a></li>
					  
					  <li><b>AI</b></li>
					  <li><a href="https://app.scribbler.live/#./examples/Plotly-Example.jsnb" target="_blank">Podcast Generator using Gemini AI API</a></li>
					  <li><a href="https://app.scribbler.live/?jsnb=https://examples.scribbler.live/AI-DataScience/AI-XR-Examples.jsnb" target="_blank">AI in XR - EmotiCam</a></li>		

						  

					  <li><b>Finance</b></li>
					  <li><a href="https://app.scribbler.live/#./examples/Black-Scholes.jsnb" target="_blank">Option Pricing (Black-Scholes)</a></li>

					  <li><b>Canvas Usage</b></li>
					  <li><a href="https://app.scribbler.live/?jsnb=https://examples.scribbler.live/XR-ImageProcessing/HTML5-Image-Processing.jsnb" target="_blank">Image Processing in Browser</a></li>
					  <li><a href="https://app.scribbler.live/#./examples/Dynamic-Simulation.jsnb" target="_blank">Bouncing Ball (Moving Wall)</a></li>

					  <li><b>Math & Scientific</b></li>
					  <li><a href="https://app.scribbler.live/#./examples/Runge-Kutta-for-Differential-Equations.jsnb" target="_blank">Runge-Kutta Method</a></li>
					  <li><a href="https://app.scribbler.live/#./examples/Fibonacci-Sequence-Golden-Ratio.jsnb" target="_blank">Fibonacci & Golden Ratio</a></li>

					  <li><b>Decentralized Web</b></li>
					  <li><a href="https://app.scribbler.live/#./examples/IPFS-in-Browser.jsnb" target="_blank">IPFS in Browser</a></li>

					</ul>
				  </details>
				</li>


				<li role="list" dir="ltr">
				<details role="list" dir="ltr">
					<summary tabindex="0" aria-haspopup="listbox">Help</summary>
					<ul role="listbox">
						<li><a href="https://join.scribbler.live" target="_blank" >Discord</a> </li>
						<li><a href='https://scribbler.live/docs' target='_blank'>Docs</a></li>
						<li><a href="https://scribbler.live/samples.html" target='_blank'>Gallery</a></li>
						<li><a href="https://scribbler.live/tutorials/" target='_blank'>Tutorials</a></li>
						
						<li>
						<a href="https://github.com/gopi-suvanam/jsnb/" target="_blank" >Source</a> 
						</li>
					</ul>
					</details>
				</li>

				<!--<li>
					<summary tabindex="0" aria-haspopup="listbox" style="font-size:14px;" role="button" onclick="event.preventDefault();shareBtn()">
				Publish</summary>
				</li>-->
				<li style="margin-left:4px;">
					<summary tabindex="0" aria-haspopup="listbox" style="font-size:14px;" role="button" >
					<a class="header-button" href="https://hub.scribbler.live">Hub</a></summary>
				</li>
				<li>
					<summary tabindex="0" aria-haspopup="listbox" style="margin-left:5px" >
					<a title="Github Source Code" href="https://github.com/gopi-suvanam/scribbler" target="_blank">
					<img src="images/github-mark.png" style="width:20px" class="light-img"/>
					<img src="images/github-mark-white.png" style="width:20px" class="dark-img"/>
					</a></summary>
				</li>
				<li>
					<summary tabindex="0" aria-haspopup="listbox" style="margin-left:5px" >
					<a title="Discord Channel" href="https://join.scribbler.live" target="_blank">
					<img src="images/discord-mark.png" style="width:20px"  class="light-img"/>
					<img src="images/discord-mark-white.png" style="width:20px" class="dark-img"/>
					</a></summary>
				</li>
				
				</ul>
			</nav>
		</div>
		<div id="welcome" class="info-wrapper">
			<p class="secondary" style="display:inline;float:right;margin-right:5px"  id='username'></p>
			<p style="display:inline;float:right" class="secondary">Welcome&nbsp;</p>
		</div>
	</div>
	<html-component data="components/sub-header.html"></html-component>
</header>
