<dialog id="options"> <!--Modal for Options -->
  <article>
	<h5>Options for Notebook</h5>
	<input   id="run_on_load" data-tooltip="Run the code when the file is loaded" type="checkbox"   ></input>
	<label for="run_on_load">Run the code when the file is loaded</label>
	<!--<br> Could be implemented in the future
	<input  id="request_sandbox" data-tooltip="Request removing sandbox when the file is loaded" type="checkbox" class="cell-type"  ></input>
	<label for="request_sandbox">Request removing sandbox when the file is loaded</label>
	
	<br>
	<input  id="hide_menu_on_embed" data-tooltip="Hide the menu in iframe embedding" type="checkbox" class="cell-type"  ></input>
	<label for="hide_menu_on_embed">Hide the menu in iframe embedding</label>
	<br>
	<input  id="hide_input_on_embed" data-tooltip="Hide the input cells in iframe embedding" type="checkbox" class="cell-type"  ></input>
	<label for="hide_input_on_embed">Hide the input cells in iframe embedding</label> -->
	
	
  </article>
</dialog>