<div class="bottom-header container">
	<!-- Title of the notebook -->
	<div class="nb-name-wrapper">
		<a id="nb_name" contentEditable="true">Loading a note book...</a> 		
		<iframe 
		frameborder="0"
		scrolling="0"
		width="170"
		height="30"
		title="GitHub"
		style="display:none"
		id="git-stars">
		</iframe>			
	</div>
	<div class="nb-tools-wrapper">
		<a href="#" class="nb-tool-sharable-btn" data-tooltip="Sharable link / IFrame code" data-placement="bottom" 
		   onclick="event.preventDefault();shareBtn()">
		   <svg class="icon"><use href="../images/icons-sprite.svg#icon-share"></use></svg>
		</a>
		<a href="#" class="secondary nb-tool-github-btn" data-tooltip="GitHub Integration (Ctrl+G)" data-placement="bottom" 
		   onclick="event.preventDefault();openModal(scrib.getDom('git-import-export'))">
		   <svg class="icon" style="width:16px; height:16px;"><use href="../images/icons-sprite.svg#icon-github"></use></svg>
		</a>
		<a href="#" class="secondary nb-tool-gitlab-btn" data-tooltip="GitLab Integration (Ctrl+L)" data-placement="bottom" 
		   onclick="event.preventDefault();openModal(scrib.getDom('gitlab-import-export'))">
		   <svg class="icon" style="width:16px; height:16px; fill: currentColor;" viewBox="0 0 24 24">
		   	<path d="M12 21.42l-1.2-3.69H2.28L1.08 21.42 12 21.42zM2.28 17.73h8.52L8.52 7.31 2.28 17.73zM8.52 7.31L12 17.73l3.48-10.42H8.52zM15.48 7.31l-2.28 10.42h8.52l-6.24-10.42zM21.72 17.73l-1.2 3.69L12 21.42l9.72-3.69z"/>
		   </svg>
		</a>
		<a href="#" class="nb-tool-run-btn" data-tooltip="Run all: Alt/Option-R" data-placement="bottom" 
		   onclick="event.preventDefault();run_all()">
			<svg class="icon"><use href="../images/icons-sprite.svg#icon-play"></use></svg>
		</a>
		<a href="#" class="secondary nb-tool-save-btn" data-tooltip="Save" id="save-button" onclick="event.preventDefault();saveLocalFile()">
			<svg class="icon"><use href="../images/icons-sprite.svg#icon-save"></use></svg>
		</a>
		<a href="#" class="secondary nb-tool-reset-btn" data-tooltip="Reset" id="reset-button" onclick="event.preventDefault();resetNB()">
			<svg class="icon"><use href="../images/icons-sprite.svg#icon-reset"></use></svg>
		</a>
		<a href="#" id="break-sandbox" class="secondary nb-tool-sandbox-btn"
		   data-tooltip="Take the notebook out of sandbox"
		   data-placement="bottom" data-placement-edge="right"
			onclick="event.preventDefault();break_sandbox()">
			<svg class="icon"><use href="../images/icons-sprite.svg#icon-box-arrow-up"></use></svg>
		</a>
	</div>
</div>