<div class="container" id="sub-menu" style='display:flex;overflow:visible'>
	<div style="float:left;width:70%">
	<a id="nb_name" contentEditable="true">Loading a note book...</a> 
	
	<iframe 
	frameborder="0"
	scrolling="0"
	width="170"
	height="30"
	title="GitHub"
	style="display:none"
	id="git-stars">
   </iframe>
			
	</div><!-- Title of the notebook -->
	<div style="float:right;text-align:right;width:30%">


	   <a href="#"  style="margin-right:5px;font-size:17px" data-tooltip="Sharable link/ IFrame code" data-placement="bottom" 
	  onclick="event.preventDefault();shareBtn()">⎘</a>
	  

	  <a href="#" style="margin-right:5px;font-size:14px"  data-tooltip="Run all: Alt/Option-R" data-placement="bottom" 
	  onclick="event.preventDefault();run_all()"  >&#9658;</a>
   
	  <a href="#" class="secondary" id='save-button' style="margin-right:5px;font-size:11px"
	  onclick="event.preventDefault();saveLocalFile()"   >&#128190;</a>
	  
	  <a href="#" class="secondary" id='reset-button' style="margin-right:5px;font-size:16px"
	  onclick="event.preventDefault();resetNB()"   >&#8634;</a>
	  
	
		<a href="#" class="secondary" style="margin-right:5px;font-size:16px"
		 data-tooltip="Take the notebook out of sandbox" data-placement="bottom"  id='break-sandbox' onclick="event.preventDefault();break_sandbox()"  >⤯</a>		    
	</div>
	
</div>